.language-switch-area {
  text-align: center;
  padding: 10px;
}
.famfamfam-flags {
  display: inline-block;
}
.queue-information-container {
    height: 200px;
    text-align: center;
}
.fast-token-container {
    margin-top: 0px;
    text-align: center;
}

.fast-token-container p{
    font-size:large;
}