@using Abp.MultiTenancy
@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model Pfizer.QueueSystem.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/QueueSystem/Queue.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/QueueSystem/Queue.js")
}

<div class="container">
    <div class="queue-information-container">
        <h3>抱歉，当前系统访问人数过多，您已加入排队等候系统，请稍等片刻</h3>
        <h3><span>您前面一共有：<strong>36</strong> 用户</span></h3>
        <h3><span>预计等待时间：<strong>52</strong> 分钟</span></h3>
    </div>
    <div class="fast-token-container">
        <p>您还可以领取快速通行令牌在一下我们推荐的时间段享有优先访问。</p>
        <input type="datetime" /> <button id="btnTake" class="btn-primary">领取</button>
        <p>您已领取快速通行令牌在此时间段：2017/12/5 17：00 - 18：00，在此时间段将享有优先访问。</p>
    </div>
</div>